@using Asyl.ViewModels
@model JobAdVM
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = "~/Views/Shared/_Layout";
}

<script>
    function presentLocations() {
        $.post("/Home/GetCities", function (result) {            
            alert(result);
        })
    }

</script>

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*<div class="intro-text">
                        <span class="name">Company Registration</span>
                    </div>*@
                <div class="row" style="padding-bottom: 200px">
                    <div class="box">
                        <div class="col-lg-12" align="center">
                            <hr />
                            <h1 style="padding-bottom: 20px">
                                Create an advert for your internship!
                                <hr />
                            </h1>
                            <hr class="star-light">


                            <form asp-controller="Admin" asp-action="AddUser">

                                <div class="row">
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                    <div class="col-xs-8 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Title"></label>

                                            <input asp-for="Title" class="form-control" placeholder="ex: Målvakt" tabindex="1" />
                                            <span asp-validation-for="Title"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="FieldOfWork"></label>

                                            <input asp-for="FieldOfWork" class="form-control" placeholder="What is the area of work" tabindex="2" />
                                            <span asp-validation-for="FieldOfWork"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                    <div class="col-xs-16 col-sm-8 col-md-8">
                                        <div class="form-group">
                                            <label asp-for="Description"></label>

                                            <textarea asp-for="Description" class="form-control input-lg" placeholder="Describe the position here..." tabindex="3"rows="5" data-val-maxlength-max="420"></textarea>
                                            <span asp-validation-for="Description"></span>
                                            <br />
                                        </div>
                                        <div class="col-xs-4 col-sm-2 col-md-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                    <div class="col-xs-8 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="DurationInWeeks"></label>

                                            <input asp-for="DurationInWeeks" class="form-control" placeholder="ex: 5 (will show as 5 weeks)" tabindex="4"/>
                                            <span asp-validation-for="DurationInWeeks"></span>
                                        </div>
                                    </div>
                                    @*<div class="col-xs-8 col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Location"></label>

                                            <input asp-for="Location" class="form-control" placeholder="Where is the position located" tabindex="5" />
                                            <span asp-validation-for="Location"></span>
                                        </div>
                                    </div>*@
                                    <label asp-for="Location"></label>
                                             <select asp-for="Location" class="form-control" id="selectLocation" onclick="presentLocations()">
                                                <option>1</option>
                                                
                                                 </select>
                                    <span asp-validation-for="Location"></span>
                                                                  
                                        
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>

                                    <div class="col-xs-16 col-sm-8 col-md-8 text-right">
                                        <a href="~/company/createjobad"><input type="submit" value="Create" class="btn btn-primary btn-group nutmegbtn paddbtn" tabindex="6" style="padding-right:25px"></a>

                                        <a href="~/company/index" class="btn btn-primary btn-group nutmegbtn paddbtn">Cancel</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2 col-md-2">
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>

@section script{
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
}
