@using Asyl.ViewModels
@model CompanyExistingAdsVM[]
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"

@{
    Layout = "~/Views/Shared/_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="container">           
        <p>This is your current job openings</p>

            <div class="list-group">
                @foreach (var item in Model)
                {
                <a asp-controller="Company" asp-action="Applications" asp-route-id="@item.Id" class="list-group-item"><b>Job ID:</b> @item.Id <b>Job Title:</b> @item.Title <b>No of applications:</b> @item.ApplicationCount</a>
                }
            </div>
        </div>

            
    </div>


</body>
</html>

